<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
<div id="bp_editor" class="editor" th:fragment="bp_editor_1">
	<h2>General data</h2>
</div>
<div id="bp_editor" class="editor" th:fragment="bp_editor_2">
	<h2>Addresses</h2>
</div>
<div id="bp_editor" class="editor" th:fragment="bp_editor_3">
	<h2>Unfinished</h2>
</div>
<div id="bp_editor" class="editor" th:fragment="bp_editor_4">
	<h2>Info</h2>
</div>
</html>