<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
	<div id="crud_select" th:fragment="crud_select">
		<button id="btn_cancel" class="ui-button ui-widget ui-corner-all">
			<span class="ui-icon  ui-icon-arrowthick-1-w"></span>Cancel
		</button>
		<button id="btn_display" class="ui-button ui-widget ui-corner-all">
			<span class="ui-icon ui-icon-search"></span>Display
		</button>
		<button id="btn_edit" class="ui-button ui-widget ui-corner-all">
			<span class="ui-icon ui-icon-pencil"></span>Edit
		</button>
		<button id="btn_create" class="ui-button ui-widget ui-corner-all">
			<span class="ui-icon ui-icon-plus"></span>Create
		</button>
	</div>
	<div id="save_or_cancel" th:fragment="save_or_cancel">
		<button id="btn_cancel" class="ui-button ui-widget ui-corner-all">
			<span class="ui-icon  ui-icon-arrowthick-1-w"></span>Cancel
		</button>
		<button id="btn_save" class="ui-button ui-widget ui-corner-all">
			<span class="ui-icon  ui-icon-disk"></span>Save
		</button>
	</div>
</html>