<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
	<div class="tile" id="new_user" th:fragment="tile_new_user">
		<p>New user</p>
	</div>
	<div class="tile" id="change_user" th:fragment="tile_change_user">
		<p>Change user</p>
	</div>
	<div class="tile" id="users" th:fragment="tile_users">
		<p>Users</p>
	</div>
	<div class="tile" id="materials" th:fragment="tile_materials">
		<p>Materials</p>
	</div>
	<div class="tile" id="customers" th:fragment="tile_customers">
		<p>Customers</p>
	</div>
	<div class="tile" id="suppliers" th:fragment="tile_suppliers">
		<p>Suppliers</p>
	</div>
	<div class="tile" id="roles" th:fragment="tile_roles">
		<p>Roles</p>
	</div>
	<div class="tile_separator" th:fragment="tile_separator">
	</div>
</html>