<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
	<div class="tile" id="users" layout:fragment="tile_users">
		<p>Users</p>
	</div>
	<div class="tile" id="materials" th:fragment="tile_materials">
		<p>Materials</p>
	</div>
	<div class="tile" id="customers" th:fragment="tile_customers">
		<p>Customers</p>
	</div>
	<div class="tile" id="suppliers" th:fragment="tile_suppliers">
		<p>Suppliers</p>
	</div>
</html>