<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
<div id="user_editor" class="editor" th:fragment="user_editor_1">
	<div id="general" class="editor">
		<div class="table">
			<div class="tableBody">
				<div class="tableRow">
					<div class="tableCell">First name</div>
					<div class="tableCell"><input id="first_name" type="text"/></div>
				</div>
				<div class="tableRow">
					<div class="tableCell">Last name</div>
					<div class="tableCell"><input id="last_name" type="text"/></div>
				</div>
				<div class="tableRow">
					<div class="tableCell">Email</div>
					<div class="tableCell"><input id="email" type="text"/></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="user_editor_2" class="editor" th:fragment="user_editor_2">
	<script>
  	$(function() {
    	$("#chkInitialPw").checkboxradio();
    	$("#chkLocked").checkboxradio();
    	$("#dateValidFrom").datepicker();
    	$("#dateValidTo").datepicker();
  	});
  	</script>
	<div id="password" class="editor">
		<div class="table">
			<div class="tableBody">
				<div class="tableRow">
					<div class="tableCell">Password</div>
					<div class="tableCell"><input id="password1" type="password"/></div>
				</div>
				<div class="tableRow">
					<div class="tableCell">Re-enter password</div>
					<div class="tableCell"><input id="password2" type="password"/></div>
				</div>
				<div class="tableRow">
					<div class="tableCell"></div>
					<div class="tableCell">
						<label for="chkInitialPw">Initial password</label>
						<input id="chkInitialPw" type="checkbox" th:checked="${user.initialPw}"/>
					</div>
				</div>
				<div class="tableRow">
					<div class="tableCell"></div>
					<div class="tableCell">
						<label for="chkLocked">Locked</label>
						<input id="chkLocked" type="checkbox" th:checked="${user.locked}"/>
					</div>
				</div>
				<div class="tableRow">
					<div class="tableCell">Validity (from-to)</div>
					<div class="tableCell">
						<input id="dateValidFrom" type="text" class="erpDatePicker" th:field="${user.validFrom}"/>-<input id="dateValidTo" type="text" class="erpDatePicker" th:field="${user.validTo}"/>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<div id="user_editor_3" class="editor" th:fragment="user_editor_3">
	<h2>Authorisations & access</h2>
</div>
<div id="user_editor_control" class="editor" th:fragment="user_editor_control">
	<div id="control">
		<input id="btn_cancel" type="button" class="ui-button ui-widget ui-corner-all" value="Cancel">
		<input id="btn_save" type="button" class="ui-button ui-widget ui-corner-all" value="Save">
	</div>
</div>
</html>