@charset "ISO-8859-1";

#role_controls{
	margin-top: 10px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.ui-button.custom-combobox-toggle{
	position: absolute;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}