@charset "ISO-8859-1";
html, body{
	width:99%;
	height:100%;
	margin-top: 8px;
	margin-left: 10px;	
}

div#top_container.content{
	margin-top: 10px;
}

.content_container{
	width:100%;
	min-width:800px;
	height: 800px;
	min-height: 800px;
	background: beige;
	border: 2px solid black;
	box-sizing: border-box;
	padding: 10px;
	overflow: auto;
}

.row_clear{
	clear:both;
}

.error_message{
	font-weight: bold;
	color: red;
}