@charset "ISO-8859-1";
div#message_container{
	width:100%;
	min-width:800px;
	height:40px;
	background: lightgray;
	border: 2px solid black;
	box-sizing:border-box;
	margin-top:10px;
}

div#message_container.hidden{
	display: none;
}

div#message_container.success{
	display: block;
	background: green;
	color: white;
}

div#message_container.failure{
	display: block;
	background: red;
	color: white;
}

div#message_container.warning{
	display: block;
	background: yellow;
	color: black;
}

div#message_container.info{
	display: block;
	background: blue;
	color: white;
}