@charset "ISO-8859-1";
html, body{
	width:99%;
	height:100%;
	margin-top: 8px;
	margin-left: 10px;	
}

div#top_container.content{
	margin-top: 10px;
}

.content_container{
	width:100%;
	min-width:800px;
	height: 800px;
	min-height: 800px;
	background: beige;
	border: 2px solid black;
	box-sizing: border-box;
	padding: 10px;
	overflow: auto;
}

.row_clear{
	clear:both;
}

.error_message{
	font-weight: bold;
	color: red;
}

.table{
	display: table;
}

.tableBody{
	display: table-row-group;
}

.tableRow{
	display: table-row;
	height: 40px;
}

.tableCell{
	display: table-cell;
}

/*--------JQuery UI checkbox bug-----------------*/
label.ui-checkboxradio-label span.ui-icon-check {
 	background-position: -64px -144px;
}

label.ui-checkboxradio-label span.ui-icon-blank {
 	background-position: 16px 16px;
}
/*--------------------------------------------- */

/*----JQuery Validation Plugin----------------- */
form .error{
	color: #ff0000;
}
/*--------------------------------------------- */