@charset "ISO-8859-1";
.tile{
	width: 100px;
	min-width: 100px;
	height: 100px;
	min-height: 100px;
	border: 1px solid black;
	background: DeepSkyBlue;
	text-align: center;
	margin: auto;
	box-sizing: border-box;
	float:left;
}

.tile:hover{
	border: 2px solid red;
	box-shadow: 5px 5px;
}

.tile_separator{
	width: 10px;
	min-width: 10px;
	height: 100px;
	min-height: 100px;
	float:left;
}