@charset "ISO-8859-1";
div#container.header{
	width:100%;
	min-width:800px;
	height:60px;
	background: lightgray;
	border: 2px solid black;
	box-sizing:border-box;
}

div#info.header{
	width:50%;
	padding-left: 10px;
	float: left;
}

div#user.header{
	width: 20%;
    float: right;
    margin: auto;
    padding: 20px 0;
	
}

div#username.header{
	width:50%;
	height:100%;
	float:left;
}

div#logout.header{
	width:50%;
	height:100%;
	float:left;
}