@charset "ISO-8859-1";

div#user_editor_content.editor{
	margin-top: 10px;
}
div#user_editor_control.editor{
	margin-top: 10px;
}

.erpDatePicker{
	width: 100px;	
}

.hiddenRow{
	display:none;
}

#list_roles_assigned_wrapper,#list_roles_available_wrapper{
	overflow-y:auto;
	width: 360px;
 	min-width: 360px;
 	min-height: 300px;
 	max-height: 400px;
}

/*Selectabe list */
#list_roles_assigned,#list_roles_available{ 
 	list-style-type: none; 
 	margin: 0; 
 	padding: 0;
 	background: #f6f6f6;
 	border: 1px solid #c5c5c5;
}

#list_roles_assigned li,#list_roles_available li { 
 	margin: 3px; 
 	padding: 0.4em; 
 	font-size: 1.2em; 
 	height: 18px;
}

#list_roles_assigned .ui-selecting,#list_roles_available .ui-selecting { 
 	background: blue;
}
#list_roles_assigned .ui-selected,#list_roles_available .ui-selected { 
 	background: #007fff;
 	border: 1px solid #003eff; 
 	color: white;
}

#roles_container{
	display:flex;
}

#roles_container>div{
	flex:0;
}

#roles_buttons{
	width:100px;
	min-width:100px;
	margin-left:5px;
	margin-right:5px;	
}

#button_wrapper{
	margin-top:100px;
}

.role_add_or_remove{
	width:100px;
	min-width:100px;
}

#btn_remove_role{
	margin-top: 5px;
}

