@charset "ISO-8859-1";
div#container.home{
	width:100%;
	min-width:800px;
	height: 800px;
	min-height: 800px;
	background: beige;
	border: 2px solid black;
	box-sizing: border-box;
	padding: 10px;
	overflow: auto;
}

.row_clear{
	clear:both;
}