@charset "ISO-8859-1";

#objects-wrapper{
	display: flex;
 	min-height: 300px;
 	max-height: 400px;
}

#objects-wrapper>div{
	flex:0;
	
}

#objects-assigned{
	margin: 0; 
 	padding: 0;
 	background: #f6f6f6;
 	border: 1px solid #c5c5c5;
 	width:600px;
 	min-width:600px;
 	overflow-y:auto;
}

#objects-available{
	margin: 0; 
 	padding: 0;
 	background: #f6f6f6;
 	border: 1px solid #c5c5c5;
 	width:600px;
 	min-width:600px;
 	overflow-y:auto;
}

.auth-object-row{
	display: flex;
	height: 40px;
	min-height: 40px;
	border: 1px solid #c5c5c5;
	margin: 3px; 
 	padding: 0.4em; 
 	font-size: 1.2em;
 	background: white; 
}

.auth-object-text{
	width: 20%;
	min-width: 20%;	
	margin: auto;
}

.auth-object.rights{
	
}

.auth-objects-table{
	border-collapse:separate;
}

.auth-objects-table tr{
	height: 52px;	
 	font-size: 1.2em;
 	background: white;
}

.auth-objects-table tr:hover{
 	
}

.auth-objects-table td{
	
}

.auth-objects-table td.col-object{
	padding-left:10px;
	padding-right:10px;
}

.auth-objects-table td.col-rights{
	
}

.btn-remove-object{
	
}

/*Selectabe list */
#objects-available-list{ 
 	list-style-type: none; 
 	margin: 0; 
 	padding: 0;
 	background: #f6f6f6;
 	border: 1px solid #c5c5c5;
}

#objects-available-list li { 
 	margin: 3px; 
 	padding: 0.4em; 
 	font-size: 1.2em; 
 	height: 18px;
}

#objects-available-list .ui-selecting { 
 	background: blue;
}
#objects-available-list .ui-selected { 
 	background: #007fff;
 	border: 1px solid #003eff; 
 	color: white;
}

.disabled{
	pointer-events:none;
}