@charset "ISO-8859-1";

#list_objects_wrapper{
	width: 680px;
 	min-width: 680px;
}

#auth-object-list{
	margin: 0; 
 	padding: 0;
 	background: #f6f6f6;
 	border: 1px solid #c5c5c5;
 	min-height: 300px;
 	max-height: 400px;
 	overflow-y:auto;
}

.auth-object-row{
	display: flex;
	height: 40px;
	min-height: 40px;
	border: 1px solid #c5c5c5;
	margin: 3px; 
 	padding: 0.4em; 
 	font-size: 1.2em;
 	background: white; 
}

.auth-object-text{
	width: 20%;
	min-width: 20%;	
	margin: auto;
}

.auth-object.rights{
	
}

.auth-object-table{
	border-collapse:separate;
}

.auth-object-table tr{
	height: 52px;	
 	font-size: 1.2em;
 	background: white;
}

.auth-object-table tr:hover{
 	
}

.auth-object-table td{
	
}

.auth-object-table td.col-object{
	padding-left:10px;
	padding-right:10px;
}

.auth-object-table td.col-rights{
	
}

.btn-remove-object{
	
}
