@charset "ISO-8859-1";

div#search_parameters{
	
}

div#do_search {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

div#search_results{
	
}

#tbl_results{
	
}

#tbl_results tbody{
	
}

#tbl_results thead tr{
	
}

#tbl_results tbody tr:hover{
	background:blue;
}

.selected-material, .selected-user{
	background:green;
	border: 1px solid black;
}
