<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="nz.net.ultraq.thymeleaf"  
		layout:decorate="~{layouts/default}">
<div id="change_password" class="content_container" layout:fragment="content">
	<form id="change_password_form" action="#" th:action="@{/changePassword/save}" th:object="${password}" method="post">
		<div>
			<input id="username" type="text" th:field="*{username}" disabled/>
		</div>
		<div class="table">
			<div class="tableBody">
				<div class="tableRow">
					<div class="tableCell"><span>New password</span></div>
					<div class="tableCell"><input id="password1" name="password1" type="password" th:field="*{password}"/></div>
				</div>
				<div class="tableRow">
					<div class="tableCell"><span>Re-enter password</span></div>
					<div class="tableCell"><input id="password2" name="password2" type="password"/></div>
				</div>
			</div>
		</div>
		<div>
			<input type="submit" value="Change"/>
		</div>
	</form>
</div>
</html>