<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div class="home" id="container" layout:fragment="content">
	<div>
		<h2>Home Menu</h2>
	</div>
	<div>
		<div th:replace="fragments/tiles :: tile_users"></div>
		<div th:replace="fragments/tiles :: tile_materials"></div>
		<div th:replace="fragments/tiles :: tile_customers"></div>
		<div th:replace="fragments/tiles :: tile_suppliers"></div>
	</div>
	<div>
		<span th:text="${myMessage}"></span>
	</div>
</div>
</html>