<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<div class="content_container" id="new_user" layout:fragment="content">
	<div>
		<h2>New user</h2>
	</div>
	<div>
		<label for="user_id">User ID</label>
		<input id="user_id" type="text" name="user_id">
		<input id="btn_create" type="button" value="Create"/>
		<p id="error_msg" class="error_message"></p>
	</div>
	<div>
		<input id="btn_back" type="button" value="Back" class="ui-button ui-widget ui-corner-all"/>
	</div>
</div>
</html>