<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div class="content_container" id="role_data" layout:fragment="content">
	<input id="role_id" type="hidden" th:value="${role.id}">
	<h2 id="role_name" th:text="${role.name}"></h2>
	<div>
		<div id="objects-wrapper">
			<div id="objects-assigned">
				<h3>Assigned objects</h3>
				<table id="tbl_assigned_objects" class="auth-objects-table">
					<thead>
						<tr>
							<th>Object name</th>
							<th>Display</th>
							<th>Update</th>
							<th>Create</th>
							<th>Delete</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="ro : ${role.roleObjects}">
							<tr th:id="${ro.object.id}">
								<td class="col-object">
									<span th:id="'obj-'+${ro.object.id}+'-name'" class="disabled" th:text="${ro.object.name}"></span>
								</td>
								<td>
									<label th:attr="for='chk-read-rights-'+${ro.object.id}"></label>
									<input th:id="'chk-read-rights-'+${ro.object.id}" class="chk-read-rights" type="checkbox" th:checked="${ro.readRights}"/>
								</td>
								<td class="col-rights">
									<label th:attr="for='chk-update-rights-'+${ro.object.id}"></label>
									<input th:id="'chk-update-rights-'+${ro.object.id}" class="chk-update-rights" type="checkbox" th:checked="${ro.updateRights}"/>
								</td>
								<td class="col-rights">
									<label th:attr="for='chk-create-rights-'+${ro.object.id}"></label>
									<input th:id="'chk-create-rights-'+${ro.object.id}" class="chk-create-rights" type="checkbox" th:checked="${ro.createRights}"/>
								</td>
								<td class="col-rights">
									<label th:attr="for='chk-delete-rights-'+${ro.object.id}"></label>
									<input th:id="'chk-delete-rights-'+${ro.object.id}" class="chk-delete-rights" type="checkbox" th:checked="${ro.deleteRights}"/>
								</td>
								<td>
									<button th:id="'btn_remove_'+${ro.object.id}" th:onclick="'RoleData.removeAssignedObject('+${ro.object.id}+')'" class="ui-button ui-widget ui-corner-all ui-button-icon-only btn-remove-object">
										<span class="ui-icon  ui-icon-circle-minus"></span>Remove Object
									</button>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>			
			</div>
			<div id="objects-move">
				<button id="btn_add_objects" class="ui-button ui-widget ui-corner-all ui-button-icon-only">
					<span class="ui-icon ui-icon-arrowthick-1-w"></span>Add object
				</button>
				<button id="btn_remove_objects" class="ui-button ui-widget ui-corner-all ui-button-icon-only">
					<span class="ui-icon ui-icon-arrowthick-1-e"></span>Remove object
				</button>
			</div>
			<div id="objects-available">
				<h3>Available objects</h3>
				<div id="objects-available-list-wrapper">
					<ol id="objects-available-list">
					<th:block th:each="object : ${unassignedObjects}">
						<li th:attr="data-id=${object.id}" class="ui-widget-content" th:text="${object.name}"></li>
					</th:block>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div>
		<button id="btn_cancel" class="ui-button ui-widget ui-corner-all">
			<span class="ui-icon  ui-icon-arrowthick-1-w"></span>Cancel
		</button>
		<button id="btn_save" class="ui-button ui-widget ui-corner-all">
			<span class="ui-icon  ui-icon-disk"></span>Save
		</button>
	</div>
</div>

</html>