<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div id="user_data" class="content_container">
	<div>
		<label for="user_id">User ID</label>
		<input id="user_id" type="text" name="user_id" disabled/>
	</div>
	<div th:replace="fragments/user_editor :: user_editor_1"></div>
	<div th:replace="fragments/user_editor :: user_editor_2"></div>
	<div th:replace="fragments/user_editor :: user_editor_control"></div>
</div>
</html>