<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div class="content_container" id="user_main" layout:fragment="content">
	<div>
		<h2>Users</h2>
	</div>
	<div>
		<div id="role_select" class="ui-widget">
			<label for="user_id">User</label>
			<input id="user_id" type="text" name="user_id">
			<button id="btn_search" class="ui-button ui-widget ui-corner-all ui-button-icon-only">
				<span class="ui-icon ui-icon-search"></span>Search
			</button>
			<p id="error_msg" class="error_message"></p>
		</div>
		<div th:replace="fragments/common :: crud_select"></div>
	</div>
	<div th:replace="fragments/search_dialog :: user_search_dialog"></div>
</div>
</html>